.user-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px 0;
}

.user-list article {
    background-color: #fff;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    height: 170px;
}

.user-list article p {
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.user-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid #da552f;
    background: none;
    margin-top: 38px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.user-list article a:hover {
    background: #da552f;
    color: #fff;
}

.profile-pic {
    float: left;
    margin-right: 20px;
}

.user-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.user-list .actions button:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.1s;
}

.user-list .actions button[disabled] {
    opacity: 0.7;
    cursor: default;
}